<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}

<main class="prose text-xs md:text-base max-w-screen-lg mx-auto px-6 py-16">
  <header class="text-center">
    <h1 class="m-0">
      <span>Reddit Sentiment Analysis</span> <br>
      <span class="font-normal">2024 Presidential Elections</span>
    </h1>
    <h3 class="font-normal mt-0 opacity-60">
      Last Reddit posts are being analyzed and scored by OpenAI. 0:Hate, 100:Love
    </h3>

    <p class="sm:inline-flex items-center px-6 py-1 bg-zinc-100 rounded">
      <span>
        Open source project
        <a href="https://github.com/upstash/elections-sentiment-analysis" target="_black">
          on GitHub
        </a>
      </span>

      <span class="mx-2 hidden sm:inline-flex">•</span>

      <span class="block sm:inline-flex">
        Powered by <a href="https://upstash.com/?utm_source=elections-sentiment-analysis"
                      target="_black"
                      class="inline-flex items-center">Upstash
      </a> and <a href="https://openai.com/?utm_source=elections-sentiment-analysis" target="_blank">OpenAI</a>
      </span>
    </p>
  </header>

  <div class="mt-8 md:mt-12">
    <canvas id="scoreHistoryChart"/>
  </div>

  <div class="mt-8 md:mt-16 grid md:grid-cols-2 gap-8">
    {% for candidate, candidate_posts in posts.items() %}
    <div class="border p-6 rounded-xl">
      <h3 class="mt-0">Recent Posts for {{ candidate }}</h3>

      <ul class="pl-0">
        {% for post in candidate_posts %}
        <li class="p-0 py-1 flex items-center gap-4 m-0 border-t border-dashed">
          <a class="line-clamp-1 font-normal" href="{{ post.url }}" target="_blank">{{ post.title
            }}</a>
          <span class="ml-auto text-nowrap font-bold text-sm">{{ post.score }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // @formatter:off
  const scoreHistory = {{score_history | tojson}};
  // @formatter:on

  const datasets = [];

  for (const candidate in scoreHistory) {
    const candidateScores = scoreHistory[candidate].map(score => parseFloat(score));
    datasets.push({
      label: candidate,
      data: candidateScores,
      borderColor: candidate == 'Donald Trump' ? 'rgb(234, 59, 60)' : 'rgb(0, 102, 203)',
      fill: false,
      tension: 0.1
    });
  }

  function generateTimeLabels(length) {
    const labels = [];
    let currentTime = new Date();

    for (let i = 0; i < length; i++) {
      labels.unshift(currentTime.toLocaleString("en-US", {
        hour: "numeric",
        minute: "numeric",
        month: "numeric",
        day: "numeric"
      }));
      currentTime.setHours(currentTime.getHours() - 1); // Go back one hour
    }

    return labels;
  }

  const ctx = document.getElementById('scoreHistoryChart').getContext('2d');


  new Chart(ctx, {
    type: 'line',
    data: {
      labels: generateTimeLabels(scoreHistory[Object.keys(scoreHistory)[0]].length),
      datasets: datasets
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      aspectRatio: 3,
      plugins: {
        legend: {
          // position: 'bottom',
          labels: {
            color: "black",
            font: {
              size: 16,
              weight: 'bold',
            }
          }
        },
      },
      scales: {
        x: {
          // type: 'time',
          ticks: {
            source: 'auto',
            maxRotation: 0,
            autoSkip: true,
          },
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Sentiment Score'
          }
        }
      }
    }
  });
</script>

{% endblock %}