<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
    /* Styles for page and layout */
    body {
        font-family: 'Roboto', sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        font-size: 26px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-top: 20px;
    }
    p {
        font-size: 16px;
        color: #666;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .chart-container {
        width: 90%;
        max-width: 1100px;
        margin: 20px auto;
    }
    .posts-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        max-width: 1200px;
        margin: 20px auto;
    }
    .post-list {
        width: 45%;
        text-align: left;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
    }
    .post-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .post-title {
        font-size: 16px;
        color: #0056b3;
        text-decoration: none;
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .post-score {
        font-size: 16px;
        font-weight: bold;
        color: #444;
    }
    footer {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: #f8f8f8;
    margin-top: 30px;
    }
    footer a {
        color: #05061c;
        text-decoration: none;
        font-weight: bold;
    }
    footer a:hover {
        text-decoration: underline;
    }
    footer img {
        vertical-align: middle;
    }
</style>

<h1>Candidate Sentiment Scores</h1>
<p>The sentiment score for each candidate is between 0 (hate) and 100 (love).</p>

<div class="chart-container">
    <canvas id="scoreHistoryChart"></canvas>
</div>

<div class="posts-container">
    {% for candidate, candidate_posts in posts.items() %}
        <div class="post-list">
            <h2 style="text-align: center;">Recent Posts for {{ candidate }}</h2>
            <ul>
                {% for post in candidate_posts %}
                <li class="post-item">
                    <a href="{{ post.url }}" class="post-title">{{ post.title[:50] }}{% if post.title|length > 50 %}...{% endif %}</a>
                    <span class="post-score">Score: {{ post.score }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const scoreHistory = {{ score_history | tojson }};
    const datasets = [];

    for (const candidate in scoreHistory) {
        const candidateScores = scoreHistory[candidate].map(score => parseFloat(score));
        datasets.push({
            label: candidate,
            data: candidateScores,
            borderColor: candidate == 'Donald Trump' ? 'rgb(234, 59, 60)' : 'rgb(0, 102, 203)',
            fill: false,
            tension: 0.1
        });
    }

    function generateTimeLabels(length) {
        const labels = [];
        let currentTime = new Date();

        for (let i = 0; i < length; i++) {
            labels.unshift(currentTime.toLocaleString("en-US", {
                hour: "2-digit",
                minute: "2-digit",
                hour12: false,
                month: "short",
                day: "numeric"
            }));
            currentTime.setHours(currentTime.getHours() - 1); // Go back one hour
        }
        return labels;
    }

    const ctx = document.getElementById('scoreHistoryChart').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: generateTimeLabels(scoreHistory[Object.keys(scoreHistory)[0]].length),
            datasets: datasets
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Time'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Sentiment Score'
                    }
                }
            }
        }
    });
</script>

<!-- Footer -->
<footer>
    <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
        <img src="https://upstash.com/logo/upstash-icon-white-bg.png" alt="Upstash Logo" width="16" height="16">
        <span>Powered by Upstash Redis <img src="https://upstash.com/logo/redis-icon.png" alt="Upstash Redis Logo" width="16" height="16">  and QStash  <img src="https://upstash.com/logo/qstash-icon.png" alt="Upstash QStash Logo" width="16" height="16"></span> | 
        <a href="https://github.com/upstash/elections-sentiment-analysis" target="_blank">Check the GitHub Repo</a>
    </div>
</footer>

{% endblock %}